<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">TESTES COM IONIC</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list-header>
    <ion-label>INPUT</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-input required position="floating" type="text">Nome: </ion-input>
  </ion-item>
  
  
  <ion-item>
    <ion-input required  position="floating" type="password">Senha: </ion-input>
  </ion-item>
  
  

</ion-content>
