<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">TESTES COM IONIC</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list-header>
    <ion-label>INPUT</ion-label>
  </ion-list-header>
  
  <form action="">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input required type="password"></ion-input>
    </ion-item>
    
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Entrar</ion-button>
    </div>
  </form>
</ion-content>
