<ion-header>
  <ion-toolbar>
    <ion-title>Radio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-radio-group>
      <ion-list-header>
        <ion-label class="titulo">Teste de Radio</ion-label>
      </ion-list-header>
      
      <ion-item>
        <ion-label>OPÇÃO 1</ion-label>
        <ion-radio slot="start" color="success" value="op_1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>OPÇÃO 2</ion-label>
        <ion-radio slot="start" color="success" value="op_2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>OPÇÂO 3</ion-label>
        <ion-radio slot="start" color="success" value="op_3"></ion-radio>
      </ion-item>
    </ion-radio-group>
    
    
    
    <ion-list-header>
      <ion-label class="titulo">Teste de Checkbox</ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-checkbox color="dark"  slot="start"></ion-checkbox>
      <ion-label>OPÇÃO 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="dark"  slot="start"></ion-checkbox>
      <ion-label>OPÇÃO 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="dark" slot="start"></ion-checkbox>
      <ion-label>OPÇÃO 3</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Toggle Ex</ion-label>
      <ion-toggle slot="start"  color="success"></ion-toggle>
    </ion-item>

</ion-content>
