<ion-header>
  <ion-toolbar>
    <ion-title class="nome">Caixas de seleção</ion-title>
    <!--Botão de retorno ao menu-->
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <!--Caixa de seleção do tipo radio // sempre que selecionar uma das opções, um log será registrado no console-->
      <ion-list-header>
        <ion-label class="titulo">Teste de Radio</ion-label>
      </ion-list-header>
    <ion-radio-group>
      <ion-item>
        <ion-label>OPÇÃO 1</ion-label>
        <ion-radio slot="start" (click)="log1()" color="success" value="op_1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>OPÇÃO 2</ion-label>
        <ion-radio slot="start"  (click)="log2()" color="success" value="op_2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>OPÇÃO 3</ion-label>
        <ion-radio slot="start"  (click)="log3()" color="success" value="op_3"></ion-radio>
      </ion-item>
    </ion-radio-group>
    
    
    <!--Caixa de seleção do tipo checkbox // em cada um das opções, um log será registrado no console--> 
    <ion-list-header>
      <ion-label class="titulo">Teste de Checkbox</ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-checkbox color="dark" (click)="check1()" slot="start"></ion-checkbox>
      <ion-label>OPÇÃO 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="dark"  (click)="check2()"  slot="start"></ion-checkbox>
      <ion-label>OPÇÃO 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="dark" (click)="check3()"  slot="start"></ion-checkbox>
      <ion-label>OPÇÃO 3</ion-label>
    </ion-item>
    
    
    <!--Caixas de seleção com método que mostra os atributos e valores do checkbox-->
    <ion-list-header>
      <ion-label class="titulo"> Testes com valores e eventos</ion-label>
    </ion-list-header>
    
    <ion-list (ionChange)="escreveConsole($event)">
      <ion-item>
        <ion-checkbox color="dark"  value="Ednaldo"  slot="start"></ion-checkbox>
        <ion-label>OPÇÃO 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="dark"   value="Pereira"  slot="start"></ion-checkbox>
        <ion-label>OPÇÃO 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="dark"   value="Trasher"  slot="start"></ion-checkbox>
        <ion-label>OPÇÃO 3</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
