<ion-header>
  <ion-toolbar>
    
    <!--Botão utilizado para mostar o side menu-->
    <ion-buttons slot="start">
      <ion-menu-button class="sid"></ion-menu-button>
      <ion-title class="titulo">P.A.M  <ion-icon name="logo-android" class="android"></ion-icon></ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-menu side="start" menu-id="" content-id="main">
    <ion-header>
        <ion-toolbar color="primary">
          <ion-title></ion-title>
        </ion-toolbar>
    </ion-header>
    
    <!--Componentes do side menu, cada um com seu respectivo nome e módulo ao ser clicado-->
    <ion-content>
      <ion-list> 
        <!--Utilizando método para percorrer um array que adiciona os conteúdos do side menu-->
        <ion-item  *ngFor="let item of itens" (click)="openPage(item.path)" class="side"><ion-icon name="skull-outline" class="icon"></ion-icon>&nbsp;{{item.nome}}</ion-item>
  
        <!--
        <ion-item class="side" (click)="openPage('button')"><ion-icon name="skull-outline"></ion-icon>BOTÕES</ion-item>
        <ion-item class="side" (click)="openPage('radio')"> <ion-icon name="skull-outline"></ion-icon>CAIXAS DE SELEÇÃO</ion-item>
        <ion-item class="side" (click)="openPage('images')"><ion-icon name="skull-outline"></ion-icon>IMAGENS</ion-item>
        <ion-item class="side" (click)="openPage('brinks')">  <ion-icon name="skull-outline"></ion-icon>TESTES</ion-item>
        -->
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-content>
  <ion-router-outlet id="main"></ion-router-outlet>
  
  <br> <br> <br>
  
  <!--Nome e turma do aluno desenvolvedor do aplicativo-->
  <ion-card class="nome">
    Fernando Ricarte Da Cruz
    <br>
    2º Módulo de Desenvolvimento de Sistemas
  </ion-card>
  
  <!--Card utilizado para mostrar o nome da matéria pertencente ao aplicativo-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Programação e Algoritmos Mobile</ion-card-title>
      <ion-card-subtitle class="sub">Aplicativo de testes</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  <!--Card utilizado para fazer uma área de anotações e lembretes-->
  <ion-card>
    <ion-item>
      <ion-icon name="pin" class="ico" slot="start"></ion-icon>
      <ion-label class="titulo">ANOTAÇÕES</ion-label>
      <ion-button fill="outline" (click)="openPage('notes')" slot="end">Verificar</ion-button>
    </ion-item>
  
    <ion-card-content class="sub">
      Verificar o que está pendente a ser feito
    </ion-card-content>
  </ion-card>

</ion-content>
