<ion-header>
  <ion-toolbar>
    <ion-title>Anotações Importantes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--Módulo utilizado apenas para fazer breves lembretes-->
    <ion-item>
      <ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
      
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
      
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label><ion-icon name="arrow-forward-outline"></ion-icon>
      
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
