<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">TESTES COM BOTÕES</ion-title>
    <!--Botão de retorno-->
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content> 
  <!--Botão que ao pressionado irá fazer um registro no console com base na função log()-->
  <ion-button expand="block" (click)="log()" color="success">Log no console</ion-button>
  
  <br>
  <!--Botão que ao pressionado irá mostrar um alerta na tela do usuário com base na função presentAlert()-->
  <ion-button expand="block" (click)="presentAlert()" color="danger">Alerta</ion-button>
</ion-content>




